   body {
            background-color: #a5cff8;
            font-family: Arial, sans-serif;
        }
        
        h1 {
            color: #1d68bd;
            text-align: center;
        }

      
        ul{
             color: #5858ce;  
            padding-bottom: 5px;
           margin-left: 40%;

        }
        
        ol{
             color: #5858ce;

            padding-bottom: 5px;
               margin-left: 43.5%;
        }
        h2 {
            color: #1414d6;
        
            padding-bottom: 5px;
            text-align: center;
        }
        
        p {
            color: #5858ce;
            padding-bottom: 5px;
            text-align: center;

        }

        
        footer {
color: #000000;
            padding-top: 100px;
            text-align: center;
}
        .highlight {
            background-color: #FFEAA7;
            padding: 10px;
            border-radius: 5px;
        }
        
        .list-container {
            background-color: #DFE6E9;
            padding: 15px;
            border-radius: 8px;
            margin: 10px 0;
        }
        
  
        #color-explanation {
            background-color: #C4CBCA;
            padding: 15px;
            border: 2px dashed #2A1E5C;
            color: #0A0F0D;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        
        th {
            background-color: #2A1E5C;
            color: white;
            padding: 12px;
            text-align: center;
        }
        
        td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
        
        tr:nth-child(even) {
            background-color: #F2F2F2;
        }
        
        tr:hover {
            background-color: #FFEAA7;
        }
        
        img {
            border: 5px solid #000000;
            border-radius: 10px;
            margin-left: 22%;
            width: 300px;
            height: 300px;
            
        }

        a {
          font-size: large;
             color: #1d68bd;
            text-align: center;
            MARGIN-LEFT: 47%;
        }